@font-face {
  font-family: "Crimson Text";
  src: url("../fonts/CrimsonText-Roman.ttf");
}

body {
  font-family: "Crimson Text", serif;
}

.container {
  padding: 20px;
}

.intro {
  margin-top: 0;
}

.monospace {
  font-style: italic;
  font-weight: bold;
}

