@font-face {
  font-family: "Crimson Text";
  src: url("../fonts/CrimsonText-Roman.ttf");
}

body {
  background: #2b303b;

  color: #eff1f5;
  font-family: "Crimson Text", serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.list {
  width: 300px;
  height: auto;

  font-size: 24px;
}

.list__category {
  box-sizing: border-box;
  padding: 0 15px 0 0;

  text-align: right;
  vertical-align: top;
}

.list__items-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 0 15px;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4f5b66;
}

.list__row:not(:last-child) .list__items-list {
  margin-bottom: 20px;
}

.list__items-list__item {
  list-style: none;
  vertical-align: top;
}

.list__items-list__link {
  text-decoration: none;
  color: #eff1f5;
}

.errMsg {
  width: 300px;
  height: auto;

  font-size: 24px;
  text-align: center;
}

.errMsg__link {
  color: #eff1f5;
}

